.icon-bar {
  width: 70px;
  background-color: rgb(180, 165, 165);
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 20px;
  color: antiquewhite;
  transition: all ease 0.2s;
}
.icon-bar a:hover {
  background-color: black;
}
.active {
  background-color: rgb(10, 112, 10);
}
